<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FYCePing.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1004C60B1E0B6513003857C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1004C6241E0B6522003857C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1004C62F1E0B6522003857C7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
